.hero-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/dog.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-text {
    background-color: #fff;
}

.btn-light {
    border-color: #fff;
}

.ui-autocomplete {
    width: 50% !important;
    max-width: 300px !important;
}

