// .emptyDiv {
//     height: 80px;
//     width: 100%;
// }

// .homeContent {
//     position: relative;
//     height: 80%;
//     width: 100%;
//     max-width: 1300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0;
// }

// .home {
//     background: url(../img/home.png);
//     background-position: center;
//     background-size: cover;
//     height: 80%;
//     width: 100%;
//     min-width: 1150px;

// }

// .homeForm {
//     position: absolute;
//     top: 30%;
//     right: 50px;
//     transform: translateY(-30%);
//     width: 35%;
//     min-width: 370px;
//     max-width: 450px;
//     height: 70%;
//     background-color: rgba(246, 236, 224, 0.6);
//     border-radius: 15px;
// }


// .formTitle {
//     font-weight: 900;
//     font-size: 45px;
//     text-align: center;
//     padding: 40px 0;
// }

.hero-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/dog.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-text {
    background-color: #fff;
}

.btn-light {
    border-color: #fff;
}