.roadsContainer {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../img/road2.jpg);
    background-size: cover;
    background-position: center;
}

.addRideContainer {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/road3.jpg);
    background-size: cover;
    background-position: center;
}

.footer {
    height: auto;
}