<header class="header">
    <div class="subHeader">
        <a href="#" class="logo">LOGO</a>
        <input class="side-menu" type="checkbox" id="side-menu">
        <label class="burgerMenu" for="side-menu"><span class="burgerMenu-line"></span></label>
        <nav class="nav">
            <ul class="navlinks">
                <li class="loginButton"><a href="#">INSCRIPTION</a></li>
                <li><a href="#about">VOIR LES ANNONCES</a> </li>
                <li><a href="#gallery">PUBLIEZ VOTRE ANNONCE</a></li>
                <li class="signInButton"><a href="#blog">SE CONNECTER</a></li>
            </ul>
        </nav>
    </div>
</header>